<div class="videos-container">
  <div class="videos">
    @if (scene.videoGenerationSettings.generatedVideos.length === 0) {
    <p>
      Your video will show here. <br />
      <mat-icon>videocam</mat-icon>
    </p>
    } @else {

    <div class="carousel">
      @for (video of scene.videoGenerationSettings.generatedVideos; track video;
      let i = $index) { @if (i === currentGeneratedVideoIndex) {
      <video controls class="generated-file">
        <source [src]="video.signedUri" type="video/mp4" />
      </video>
      } }
    </div>
    <div class="c-buttons">
      <button mat-mini-fab (click)="onPrev()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <button mat-mini-fab (click)="onNext()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
    }
  </div>
  @if(scene.videoGenerationSettings.generatedVideos.length > 0) {
  <button mat-button>
    <mat-icon>download</mat-icon>
    <a
      [href]="this.scene.videoGenerationSettings.selectedVideo?.signedUri"
      download
      [download]="this.scene.videoGenerationSettings.selectedVideo?.name"
      target="_blank"
      >Video</a
    >
  </button>
  }
  <div class="reference-image">
    @if (scene.imageGenerationSettings.selectedImageForVideo) {
    <img
      [src]="scene.imageGenerationSettings.selectedImageForVideo.signedUri"
    />
    } @else {
    <p>
      <mat-icon>warning</mat-icon>You haven't selected a reference image for
      your video. Reference images improve video accuracy and quality.
    </p>
    }
  </div>
</div>

<form [formGroup]="videoSettingsForm">
  <h2>Scene {{ scene.number }}</h2>
  <p>{{ scene.description }}</p>

  <mat-form-field class="selected-video">
    <mat-label>Selected Video</mat-label>
    <mat-select
      name="selectedVideoUri"
      formControlName="selectedVideoUri"
      (selectionChange)="onVideoSelected($event)"
    >
      @for (video of scene.videoGenerationSettings.generatedVideos; track video;
      let i = $index) {
      <mat-option [value]="video.signedUri" [id]="i.toString()">{{
        video.name
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <h2>Video Generation Settings</h2>

  <div class="item-container">
    <mat-form-field>
      <mat-label>Video Prompt</mat-label>
      <textarea
        matInput
        placeholder=""
        rows="5"
        formControlName="prompt"
      ></textarea>
    </mat-form-field>
    <div class="item-buttons">
      <button mat-flat-button (click)="rewriteVideoPrompt()">
        <mat-icon>auto_fix_high</mat-icon>
        Rewrite
      </button>
      <mat-checkbox formControlName="withSceneDescription"
        >With Scene Description</mat-checkbox
      >
    </div>
  </div>

  <mat-form-field>
    <mat-label>Number of Videos</mat-label>
    <input
      matInput
      type="number"
      min="1"
      max="2"
      formControlName="sampleCount"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Duration in Seconds</mat-label>
    <input
      matInput
      type="number"
      formControlName="durationInSecs"
      min="8"
      max="8"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Aspect Ratio</mat-label>
    <mat-select formControlName="aspectRatio">
      @for (aspectRatios of aspectRatios; track aspectRatios) {
      <mat-option [value]="aspectRatios.value">{{
        aspectRatios.displayName
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Frames per Second</mat-label>
    <mat-select formControlName="framesPerSec">
      @for (framesPerSecOption of framesPerSecOptions; track framesPerSecOption)
      {
      <mat-option [value]="framesPerSecOption.value">{{
        framesPerSecOption.displayName
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Person Generation</mat-label>
    <mat-select formControlName="personGeneration">
      @for (personGenerationOption of personGenerationOptions; track
      personGenerationOption) {
      <mat-option [value]="personGenerationOption.value">{{
        personGenerationOption.displayName
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!--mat-form-field>
    <mat-label>Seed</mat-label>
    <input matInput formControlName="seed" />
  </mat-form-field-->

  <mat-form-field class="large-textarea">
    <mat-label>Negative Prompt</mat-label>
    <textarea
      matInput
      placeholder=""
      rows="3"
      formControlName="negativePrompt"
    ></textarea>
  </mat-form-field>

  <div>
    <mat-checkbox formControlName="generateAudio">Generate audio</mat-checkbox>
    <mat-checkbox formControlName="enhancePrompt">Enhance prompt</mat-checkbox>
    <mat-checkbox formControlName="includeVideoSegment"
      >Include video segment in final video</mat-checkbox
    >
    <mat-checkbox formControlName="regenerateVideo"
      >Regenerate video in bulk generation</mat-checkbox
    >
  </div>

  <div class="generate-button">
    <button
      mat-flat-button
      aria-label="Generate Video"
      (click)="generateVideosFromScene()"
      [disabled]="disableGenerateVideoButton()"
    >
      <mat-icon>videocam</mat-icon>
      Generate Video
    </button>
  </div>
</form>
