<div class="scene-builder-container">
  @if (story.scenes.length === 0) {
  <div class="initial-add-scene">
    <div>
      <p>Get started by adding a scene!</p>
      <button
        mat-flat-button
        aria-label="Add Scene"
        (click)="addScene()"
        [disabled]="exportingScenes"
      >
        <mat-icon>add</mat-icon>
        Add Scene
      </button>
    </div>
  </div>
  } @else {
  <div class="header-actions">
    <button mat-flat-button aria-label="Add Scene" (click)="addScene()">
      <mat-icon>add</mat-icon>
      Add Scene
    </button>
    <button
      mat-flat-button
      aria-label="Generate Videos"
      (click)="generateVideosFromScenes()"
    >
      <mat-icon>videocam</mat-icon>
      Generate Videos
    </button>
    <button mat-flat-button aria-label="Merge" (click)="mergeVideos()">
      <mat-icon>merge</mat-icon>
      Merge Videos
    </button>
  </div>
  <p>Story Title: {{ story.title }}</p>
  <p class="story-id">Story ID: {{ story.id }}</p>
  <div class="scenes-container">
    @for (scene of story.scenes; track scene.id; let i = $index) {
    <mat-card class="scene-card" appearance="outlined" [id]="scene.id">
      <mat-card-header>
        <mat-icon (click)="removeScene($event)">delete</mat-icon>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Scene {{ scene.number }}</mat-card-title>
        <mat-card-subtitle>Scene ID: {{ scene.id }}</mat-card-subtitle>
      </mat-card-header>

      <div class="scene-image">
        @if (scene.imageGenerationSettings.selectedImageForVideo) {
        <img
          mat-card-image
          [src]="scene.imageGenerationSettings.selectedImageForVideo.signedUri"
          [alt]="scene.imageGenerationSettings.selectedImageForVideo.name"
          class="selected-image"
        />

        } @else {
        <p>
          Edit the scene to upload images <br />
          or generate them using AI <mat-icon>auto_fix_high</mat-icon>
        </p>
        }
      </div>

      <mat-card-content>
        <h3>Scene {{ scene.number }}</h3>
        <p class="scene-description">
          {{ scene.description }}
        </p>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button mat-button (click)="editScene($event)">EDIT</button>
      </mat-card-actions>
    </mat-card>
    @if (i + 1 < story.scenes.length) {
    <mat-icon class="transition" (click)="openTransitionsSettingsDialog(i)"
      >settings</mat-icon
    >
    } }
  </div>
  }
</div>
