<div class="brainstorm-container">
  <form [formGroup]="storiesSettingsForm">
    <div class="brainstorming">
      <div class="campaign-setup">
        <h2>
          <mat-icon>auto_fix_high</mat-icon> Brainstorm with Gemini
          <mat-icon>auto_fix_high</mat-icon>
        </h2>

        <mat-form-field>
          <mat-label>Creative Brief or Idea</mat-label>
          <textarea
            matInput
            placeholder=""
            rows="6"
            formControlName="creativeBriefIdea"
          ></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Target Audience</mat-label>
          <textarea
            matInput
            placeholder=""
            rows="3"
            formControlName="targetAudience"
          ></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Brand Guidelines</mat-label>
          <textarea
            matInput
            placeholder=""
            rows="6"
            formControlName="brandGuidelines"
          ></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select Video Format</mat-label>
          <mat-select name="videoFormat" formControlName="videoFormat">
            @for (videoFormat of videoFormats; track videoFormat; let i =
            $index) {
            <mat-option [value]="videoFormat.value" [id]="i.toString()">{{
              videoFormat.displayName
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- File Uploaders for Creative Brief and Brand Guidelines-->
        <div class="button-actions">
          <app-file-uploader
            (fileUploadedEvent)="addUploadedFile($event)"
            [storyId]="'story_files'"
            [sceneId]="'n_a'"
            [referenceImageId]=""
            [fileType]="getFileType('CreativeBrief')"
            [fileItems]="[]"
          ></app-file-uploader>
          <app-file-uploader
            (fileUploadedEvent)="addUploadedFile($event)"
            [storyId]="'story_files'"
            [sceneId]="'n_a'"
            [referenceImageId]=""
            [fileType]="getFileType('BrandGuidelines')"
            [fileItems]="[]"
          ></app-file-uploader>
        </div>

        <div class="generate-images-check">
          <mat-checkbox formControlName="generateInitialImageForScenes"
            >Generate initial scene images on story selection</mat-checkbox
          >
        </div>
        <div class="generate-button">
          <button
            mat-flat-button
            (click)="generateStories()"
            [disabled]="disableGenerateStoriesButton()"
          >
            <mat-icon>auto_fix_high</mat-icon> Generate Stories
          </button>
        </div>
      </div>
      <div class="stories">
        <app-stories
          [stories]="stories"
          (onSelectStoryEvent)="onSelectStoryEvent($event)"
        ></app-stories>
      </div>
    </div>
  </form>
</div>
