<div class="brainstorm-container">
  <form [formGroup]="scenesSettingsForm">
    <div class="brainstorming">
      <div class="campaign-setup">
        <app-file-uploader></app-file-uploader>
        <mat-form-field>
          <mat-label>Creative Brief or Idea</mat-label>
          <textarea matInput placeholder="" rows="6"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Target Audience</mat-label>
          <textarea matInput placeholder="" rows="3"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Brand Guidelines</mat-label>
          <textarea matInput placeholder="" rows="6"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select Video Format</mat-label>
          <mat-select name="videoFormat">
            <mat-option value="no-video-fprmat">Select Video Format</mat-option>
            @for (videoFormat of videoFormats; track videoFormat; let i =
            $index) {
            <mat-option [value]="videoFormat.value" [id]="i.toString()">{{
              videoFormat.displayName
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <div class="button-actions">
          <button mat-button><mat-icon>upload</mat-icon> Creative Brief</button>
          <button mat-button>
            <mat-icon>upload</mat-icon> Brand Guidelines
          </button>
        </div>
        <div class="generate-button">
          <button mat-flat-button (click)="generateStories()">
            <mat-icon>auto_fix_high</mat-icon> Generate Stories
          </button>
        </div>
      </div>
      <div class="stories">
        <app-stories [stories]="stories"></app-stories>
        @if (stories.length > 0) {
        <div class="selection-buttons">
          <button mat-flat-button>
            <mat-icon>arrow_circle_right</mat-icon> Select story
          </button>
          <button mat-flat-button>
            <mat-icon>arrow_circle_right</mat-icon> Create Your Own Story
          </button>
        </div>
        }
      </div>
    </div>
  </form>
</div>
